<div class="container-center">
    <div class = "row">
        <h1 class = "header-login">Login</h1>
        <div class = "col-12">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="centering">
                    <div class = "inpbox">
                        <label for = "inpt-email" class="l-input">Usuario</label>
                        <input type="email" placeholder="  Ingrese email" id="inpt-email" formControlName = "userLog">
                    </div>
                    <div class = "inpbox">
                        <label for = "inpt-pass" class="l-input">Contraseña</label>
                        <input type="password" placeholder="  Ingrese contraseña" id="inpt-pass" formControlName = "passLog">
                    </div>
                </div>
                <div class="btnbox">
                    <button type="submit" [disabled]="!loginForm.valid">Ingresar</button>
                </div>
            </form>
        </div>
    </div>
</div>


