<div class="header">
    <h2 class="title">Formulario {{nameHorse}}</h2>
</div>
<div class="wrapper">
    <nav>
        <a href = "forms/peso/{{idHorse}}/{{nameHorse}}">
            <div class="card">
                <img id='peso' src="/assets/peso.png" alt="alter">
                <p>Peso</p>
            </div>
        </a>
        <a href = "forms/alimentacion/{{idHorse}}/{{nameHorse}}">
            <div class="card">
                <img id='alimento' src="/assets/alim.png" alt="alter">
                <p>Alimentación</p>
            </div>
        </a>
        <a href = "forms/hidratacion/{{idHorse}}/{{nameHorse}}">
            <div class="card">
                <img id="agua" src="/assets/agua.png" alt="alter">
                <p>Hidratación</p>
            </div>
        </a>
        <a href = "forms/herraje/{{idHorse}}/{{nameHorse}}">
            <div class="card">
                <img id="herradura" src="/assets/herr.png" alt="alter">
                <p>Herraje</p>
            </div>
        </a>
        <a href = "forms/pista/{{idHorse}}/{{nameHorse}}">
            <div class="card">
                <img id="pista" src="/assets/pista.png" alt="alter">
                <p>Pista</p>
            </div>
        </a>

        <a href = "forms/vet/{{idHorse}}/{{nameHorse}}">
            <div class="card">
                <img id="vet" src="/assets/vet.png" alt="alter">
                <p>Veterinario</p>
            </div>
        </a>
        <a href = "forms/resultados/{{idHorse}}/{{nameHorse}}">
            <div class="card">
                <img id="result" src="/assets/prem.png" alt="alter">
                <p>Resultados</p>
            </div>
        </a>
    </nav>
</div>