table, th, td {
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: 13px;
  }
  table{
    margin-left: auto;
    margin-right: auto;
  }
  
  th {
    background-color: rgba(56, 21, 7, 0.765);
    color: white;
  
  }
  
  td {
    text-align: center;
  }
  
  button.btnForm{
    border: 0.5px solid grey;
    border-radius: 15px;
    background-color: rgba(56, 21, 7, 0.765);
    font-size: 15px;
    color: white;
    margin-top: 1rem;
    padding: 0.2rem;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
  }