/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .collapsible:hover {
    background-color: #ccc;
  }
  
  /* Style the collapsible content. Note: hidden by default */
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }

  .trform {
    border: 1px solid black;
  }

.qrCode{
  margin-left: 43%;
}

.download{
  position: relative;
  margin-left: 5%;
}

table, th, td {
  text-align: center;
  border: 1px solid black;
  border-collapse: collapse;
  margin: 0.5rem;
  padding: 0.5rem;
  font-size: 13px;
}
table{
  margin-left: auto;
  margin-right: auto;
}

th {
  background-color: rgba(56, 21, 7, 0.765);
  color: white;

}

td {
  text-align: center;
}

button.btnForm{
  border: 0.5px solid grey;
  border-radius: 15px;
  background-color: rgba(56, 21, 7, 0.765);
  font-size: 15px;
  color: white;
  margin-top: 1rem;
  padding: 0.2rem;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

#eyeIcon{
  width: 1.5rem;
  
}

.eye{
  border: none;
}

